@import "tailwindcss";

@theme {
  /* palette clara */
  --color-primary: #2563eb;
  --color-primary-light: #3b82f6;
  --color-primary-dark: #1e3a8a;

  --color-secondary: #db2777;
  --color-accent: #facc15;
}

@media (prefers-color-scheme: dark) {
  @theme {
    /* palette oscura */
    --color-primary: #3b82f6;
    --color-primary-light: #60a5fa;
    --color-primary-dark: #1e40af;

    --color-secondary: #ec4899;
    --color-accent: #fde047;
  }
}
